* {      /*estilo para todas las paginas */
  margin: 0;
  font-family: 'Roboto', sans-serif;
}




body{     /* estilo para body de todas las paginas */
  height: auto;
  
}

/* imagen aplicada en todas las paginas en el body */
.imagen-fondo{
  background-image: url(../img/images/imagen-fondo2.jpg);
  background-repeat: no-repeat;
  background-position:right;
  background-size:contain;
  width: 100vw;
}

.imagen-fondoAdmin{
  background-image: url(../img/images/imagen-fondo2.jpg);
  background-repeat: no-repeat;
  background-position:right;
  background-size:contain;
  height: 100vh;
  width: 100vw;
}

/*----------------------------INDEX---------------------------------*/

.main-index {   /* estilo para index */
  display: flex;
  align-items: center;
  justify-content:space-evenly;  /* distribuye elemntos con igual espaciado*/
  width: 100vw;
  height: 100vh;
}


.logo-index {   /*  estilo logo para index */
  width: 22rem;
  padding: 1rem;
}


.form-index {     /* estilo formulario login index */
  background-color: #75e6db83;
  border-radius: 3%;
  padding:2rem;
  box-shadow: 1px 0px 10px 5px #05445E;
  display:flex;
  flex-direction: column;
}

.bienvenido-formIndex {   /* estilo para etiqueta h2 formulario login */
  margin: 2rem 0 1.5rem 0;
  text-align: center;
  color: #05445E;
}


.fa-solid.fa-user.fa-2xl{  /*estilo para fontawesome*/
  text-align: center;
  margin-bottom: 1.5rem;
  color: #05445E;
}

.input-formIndex {   /*estilo para input formulario index*/
  margin: 1rem;
  height: 1.5rem;
  padding-right: 3rem;
}

.button-formIndex {   /*estilo para bonton inicio sesion*/
  padding: 0.5em 1em;
  background: #05445E;
  cursor: pointer;
  margin: 1rem;
  padding: 0 3.2rem 0 3.2rem;
  height: 2rem;
  border-radius: 0.2rem;
  margin-bottom: 4rem;
}

.button-formIndex:hover {  /*estilo hover para boton inicio sesion*/
  background: #189AB4;
}

a{   /*estilo para enlace boton inicio sesion*/
  text-decoration: none;
  color: #ffffff;
}
/*-------------------------------------FIN INDEX--------------------------------------*/

/*-------------------------------------INICIO ADMIN-----------------------------------*/
/*-------------------------------------NAVBAR ADMIN-----------------------------------*/

nav ul {   /*estilos para lista ul de nav*/
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow:hidden;
  background-color: #05445E;
}

li {  /*estilos para li de nav*/
  float:left;  /*se posicionan los li a la izq uno al lado de otro*/
}

ul li a { /*estilos para enlaces de nav*/
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}

li a:hover { /*estilo para enlaces nav*/
  background: #189AB4;
}

.boton-perfil {  /*estilo boton de perfil en nav*/
  float:right;
  width: 5rem;
}

/*----------------------------------FIN NAVBAR ADMIN-----------------------------------------*/

/*----------------------------------INICIO MAIN ADMIN----------------------------------------*/
.main-admin{
  margin: 10rem 0 0 13.5rem;
}


/*------------------------------------FIN MAIN ADMIN--------------------------------------------*/
/*---------------------------------------FIN ADMIN----------------------------------------------*/

/*----------------------------- INICIO ESTILOS COMPARTIDOS POR PAGES-----------------------------------------*/
.main-pages{  /*posicionamiento de elementos en pages*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{      /*logo para todas las pages*/
  height: 5rem;
  width: 11rem;
  padding: 0.3rem;
  margin: 1rem 65rem 0 0;
}

.form-pages { /*estilo formulario para todas las pages*/
  margin-top: 2rem;
  width:40%;
  border-radius: 3%;
  background-color:  #75e6db83;
  box-shadow: 1px 0px 10px 5px #05445E;
  display: flex;
  flex-direction: column;
}


.titulo-formulario {  /*estilo titulo form para todas las pages*/
  text-align: center;
  margin-top: 1rem;
  color: #05445E;
}

.container-inputForm { /*estilo para inputs forms de todas las pages*/
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 0 2rem;
}

.fa-regular.fa-circle-user.fa-2xl{  /*estilo fontawesome page edit-user*/
  text-align: center;
  margin-top: 1rem;
  color: #05445E;
}

.fa-solid.fa-cubes-stacked.fa-2xl{  /*estilo fontawesome page edit-product*/
  text-align: center;
  margin-top: 1rem;
  color: #05445E;
}

.fa-solid.fa-truck-field-un.fa-2xl{ /*estilo fontawesome page edit-supplier*/
  text-align: center;
  margin-top: 1rem;
  color: #05445E;
}

.fa-regular.fa-clipboard.fa-2xl{ /*estilo fontawesome page stock*/
  text-align: center;
  margin-top: 1rem;
  color: #05445E;
}


input { /*estilo para todos los inputs pages*/
  margin-top: 0.5rem;
  height: 1rem;
}


.num-factura{ 
  margin-left: 2rem;
}
.selector-proveedor{ 
  margin-top: 0.5rem;
}

.container-buttonAvance { /*estilos para botones de avance form todas las pages*/
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.container-buttonModificar { /*estilos para botones modificadores form todas las pages*/
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem 0;
}

 select{
  height: 1.5rem;
}

.input-id {   /* estilo input readonly*/
  background-color: #91a6b4;
}

button { /*estilos para botones form todas las pages*/
  border: none;
  background: #05445E;
  color: #ffffff;
  cursor: pointer;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 0 1rem 0 1rem;
}

button:hover {  /*estilo hover para botones pages*/
  background:  #189AB4;
}

/*----------------------------- FIN ESTILOS COMPARTIDOS POR PAGES-----------------------------------------*/

/*-------------------------------------------INICIO STOCK------------------------------------------------*/

.container-generalTable{ /*estilos para contenedor de la tabla*/
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 3rem;
  background-color:  #75e6db83;
  box-shadow: 1px 0px 10px 5px #05445E;
  border-radius: 3%;
}


.container-table{ /*estilo para tabla de existencias*/
  margin: 3rem;
  box-shadow: 1px 0px 10px 5px #131111af;
}

.row{        /*estilo para filas de tabla*/
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.header-table{  /*estilo para cabecera de tabla*/
  background-color: #75dee6;
  border: solid 1px;
}

.header-table .row div{ /*estilo para contenido de cabecera tabla*/
  font-weight: 600;
  border: solid 1px;
  padding: 0.3rem;
}

.body-table .row div{  /*estilo para contenido de cuerpo de tabla*/
  border: solid 1px;
  background-color: #ffffff;
  padding: 0.3rem;
}
/*-------------------------------------------FIN STOCK------------------------------------------------*/

